<p *ngIf="beacon != null; else offline" [ngClass]="{'old': seconds > 3000}">
  Id: {{beacon.robotId}} {{beacon.localTimestamp | date: 'mediumTime'}} Task: [{{beacon.task}}]
</p>
<ng-template #offline>
  <p class="offline">{{id}} is Offline</p>
</ng-template>
