<app-robot-beacons [robot1]="(data$ | async)?.robot1"
                   [robot2]="(data$ | async)?.robot2"
                   [robot3]="(data$ | async)?.robot3"
></app-robot-beacons>
<app-exploration *ngIf="(data$ | async)?.plan == null" [data]="(data$ | async)?.observations"></app-exploration>
<app-production [plan]="(data$ | async)?.plan"
                [planTime]="(data$ | async)?.timeFromPlan"
                [timeStamp]="(data$ | async)?.timeStamp"></app-production>
<app-orders [orders]="(data$ | async)?.productOrders"></app-orders>
